venv/
__pycache__/
*.pkl
*.db
*.pyc
data/
mlruns/
.env
.ipynb_checkpoints/

src\about.md
src\DATASET.md
src\ENHANCE.md
src\FASTAPI.md
src\Logging+prediction.md
src\OverviewAndProcess.md
src\OverviewAndProcess2.md
Detailed.md
InterviewExplanation.md
Pipfile.lock
README.md

